/* Universal Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-color: #f3f1ff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
hr{
    background-color: #D1D1D1;
    box-sizing: border-box;
    margin: 30px;
}
/* Top Players Style */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background: #fff;
    width: 72%;
    margin-top: 30px;
    border-radius: 5px;
}
.section-title{
    color:blueviolet;
    padding: 30px 30px 0px 30px;
    margin: 0px;
}
.players{
    display: grid;
    padding:30px;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width:56px
}
.player h3{
    margin-left: 15px;
}
/* Blogs section style */
.blog-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    padding: 30px;
}
.blogs{
    display: flex;
}
.thumbnail img{
    width: 150px;
}
.blog-info {
    padding: 5px 20px 20px 15px;
}
.blog-info p, h3{
    margin: 0;
    padding-bottom: 5px;
}
.blog-info p a{
    text-decoration: none;
    color: rgb(119, 118, 119);
    margin: 0;
}
/*--------------------
    Course Style
---------------------*/
.courses{
    display: flex;
    flex-wrap: wrap;
}
.course{
    padding: 30px;
}
.course img{
    width: 290px;
}
.course h3, p{
    margin:0;
}
.course p{
    font-size: .8em;
    color: rgb(255, 74, 101);
}
.course-info{
    display: flex;
    align-items: center;
}
.course-info .star{
    color: rgb(252, 187, 9);
}
.course-info .ratings-num{
    color:rgb(131, 131, 131);
    margin-left: 5px;
}
.course-info .star i:last-child{
    color: lightgray;
}
.course-info .duration{
    background: rgb(252, 209, 216);
    padding: 5px 20px;
    border-radius: 20px;
    color: rgb(255, 74, 101);
    margin-left: 20px;
}
.duration p i{
    padding-right: 5px;
}
/* Responsive */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    .blog-area{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        padding: 30px;
    }
    .courses{
        flex-direction: column;
        align-items: center;
    }
    
}